<app-header></app-header>
<main>
    <ul id="users">
        @for(user of users; track user.id){
            <li>
                <app-user 
                [user] = "user"
                (select)="onSelectUser($event)"
                ></app-user>
            </li>   
        }
    </ul>
    <!-- <app-tasks
        [name]=" selectedUser.name || '' "
    ></app-tasks> -->

    @if(selectedUser){
        <app-tasks
            [id] = "selectedUser.id || '' "
            [name]="selectedUser.name || ''"
        ></app-tasks>
    }
    @else {
        <p id="fallback">Select the user to see all thier tasks</p>
    }



</main>